.phoneflex {
  width: 99%;
  margin: 2%;
  padding: 1%;
}
/* http://meyerweb.com/eric/tools/css/reset/ 
   v2.0 | 20110126
   License: none (public domain)
*/
html,
body,
div,
span,
applet,
object,
iframe,
h1,
h2,
h3,
h4,
h5,
h6,
p,
blockquote,
pre,
a,
abbr,
acronym,
address,
big,
cite,
code,
del,
dfn,
em,
img,
ins,
kbd,
q,
s,
samp,
small,
strike,
strong,
sub,
sup,
tt,
var,
b,
u,
i,
center,
dl,
dt,
dd,
ol,
ul,
li,
fieldset,
form,
label,
legend,
table,
caption,
tbody,
tfoot,
thead,
tr,
th,
td,
article,
aside,
canvas,
details,
embed,
figure,
figcaption,
footer,
header,
hgroup,
menu,
nav,
output,
ruby,
section,
summary,
time,
mark,
audio,
video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article,
aside,
details,
figcaption,
figure,
footer,
header,
hgroup,
menu,
nav,
section {
  display: block;
}
body {
  line-height: 1;
}
ol,
ul {
  list-style: none;
}
blockquote,
q {
  quotes: none;
}
blockquote:before,
blockquote:after,
q:before,
q:after {
  content: '';
  content: none;
}
table {
  border-collapse: collapse;
  border-spacing: 0;
}
* {
  box-sizing: border-box;
}
html {
  font-size: 62.5%;
}
html,
body {
  font-family: 'Neuton';
}
h1,
h2,
h3,
h4,
h5 {
  font-family: 'Candal';
}
h1 {
  font-size: 4rem;
}
h2 {
  font-size: 3.2rem;
}
h3 {
  font-size: 2.8rem;
}
p {
  font-size: 1.6rem;
  line-height: 1.4;
}
.container {
  max-width: 800px;
  width: 100%;
  margin: 0 auto;
}
header {
  background-color: #F1FCFC;
}
header .navigation {
  display: inline;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 100%;
  padding-top: 1%;
}
header .navigation h1 {
  text-align: center;
  color: #142850;
}
header .navigation nav {
  display: inline;
  flex-direction: row;
  justify-content: space-around;
  width: 65%;
  padding-top: 10px;
  padding-bottom: 10px;
}
@media (max-width: 500px) {
  header .navigation nav {
    width: 80%;
    padding-bottom: 5px;
  }
}
header .navigation nav a {
  font-size: 1.8rem;
  color: black;
  text-decoration: none;
}
header .navigation nav a:hover {
  text-decoration: underline;
}
header .top-image {
  display: inline;
  justify-content: center;
}
@media (max-width: 500px) {
  header .top-image {
    width: 90%;
    margin: auto;
    padding: auto;
  }
}
.container .img-content {
  width: 100%;
}
.container img {
  width: 90%;
  margin: 1%;
}
.container .top-content {
  width: 75%;
  margin: 0 auto 30px;
}
@media (max-width: 500px) {
  .container .top-content {
    width: 99%;
    margin: 2%;
    padding: 1%;
  }
}
.container .top-content img {
  border-radius: 10px;
}
@media (max-width: 500px) {
  .container .top-content img {
    width: 99%;
    padding: 1%;
  }
}
.container .top-content .btn {
  border: 1px solid #F1FCFC;
  padding: 10px;
  border-radius: 10px;
  color: white;
  font-size: 2rem;
  text-align: center;
  background-color: #00802B;
}
.container .top-content .btn:hover {
  background-color: #F1FCFC;
  color: #142850;
}
.container .CTA {
  padding-top: 30px;
  border-top: 2px dashed #79BAC1;
  display: flex;
  justify-content: space-between;
}
@media (max-width: 500px) {
  .container .CTA {
    display: flex;
    flex-direction: column;
    width: 99%;
    margin: 2%;
    padding: 1%;
  }
}
.container .CTA .Sign-Up {
  width: 30%;
  margin-bottom: 30px;
}
@media (max-width: 500px) {
  .container .CTA .Sign-Up {
    display: flex;
    flex-direction: column;
    width: 99%;
    margin: 2%;
    padding: 1%;
  }
}
