// Color Vars
@pale-sky: #F1FCFC;
@ocean: #79BAC1;
@slate-blue: #27496D;
@lake-blue: #142850;
@seafoam: #6BA8A9;
@gray-sky: rgb(217, 230, 242);
@street-sign:#018562;
@sherbet: #ff7a5c;

//Fonts
@body-font: 'Neuton';
@h12-font: 'Laila';
@h-font: 'Yeon Sung';

// Mobile var
@phone: ~'(max-width: 500px)';
@tablet: ~'(max-width: 800px)';


// font-family: 'Bitter', ;
// font-family: 'Candal', ;
// font-family: 'Neuton', ;
// font-family: 'Roboto', ;
// font-family: 'Lacquer', ;
// font-family: 'Yeon Sung', ;
// font-family: 'Lemonada', ;
// font-family: 'Laila', ;